{% extends "base.html" %}
{% load static %}


{% block resetCSSIPTAL %} {% endblock resetCSSIPTAL %}

{% block site-icerik %}

  <!-- service section -->
  {% for message in messages %}
    
  <div class="alert alert-warning">

    <p>{{message}}</p>
  </div>
  {% endfor %}
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Services
        </h2>
      </div>
    </div>
    <div class="container ">
      <div class="row">
       
        {% for urun in urunler %}
          
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="{{urun.product_image.url}}" alt="">
            </div>
            <div class="detail-box">
              <h4>
               {{urun.product_title}}
              </h4>
              <p>
               {{urun.product_descriptipn}}
              </p>
              <a href="">
                Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

              </a>
            </div>
          </div>
        </div>

        {% endfor %}
      

      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="container  ">
      <div class="row">
        {% for data in aboutData %}
        
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                {{data.title}}
              </h2>
            </div>
            <p>
              {{data.description}} </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{{data.file.url}}" alt="{{data.title}}">
          </div>
        </div>


        {% endfor %}
      </div>
    </div>
  </section>

  <!-- end about section -->


  <!-- server section -->

  <section class="server_section">
    <div class="container ">
 
      {% for data in serverData %}

      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{{data.file.url}}" alt="{{data.title}}">
            <div class="play_btn">
              <button>
                <i class="fa fa-play" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                {{data.title}}
              </h2>
              <p>
                {{data.description}}
              </p>
            </div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
        
      {% endfor %}


    </div>
  </section>

  <!-- end server section -->

  <!-- price section -->

    
 
  <section class="price_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Pricing
        </h2>
      </div>
      <div class="price_container ">

        {% for data in ucretlendirme %}
        <!-- modal -->

<!-- Modal -->
<div class="modal fade" id="modal-{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Purchase for {{data.type.category}} tier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <form action="{% url 'satin-al' data.id %}" method="post">
        {% csrf_token %}

        <div class="mb-3">

          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="adi" placeholder="Card First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="soyadi" placeholder="Card Last name">
            </div>
          </div>

        </div>

        <div class="mb-3">
          <div class="form-group col-12">
            <label for="inputAddress">Card No</label>
            <input type="text" class="form-control" id="inputAddress" name="cardNo" placeholder="Card Numaranız">
          </div> 
  
        </div>
  
        <div class="mb-3">

         
          <div class="form-row">

            <div class="form-group col-md-5">
              <label for="inputEmail4">Month</label>
              <input type="number" class="form-control" name="ay" id="inputEmail4" placeholder="ay">
            </div>
            <div class="form-group col-md-5">
              <label for="inputPassword4">Day</label>
              <input type="number" class="form-control" name="gun" id="inputPassword4" placeholder="gün">
            </div>

            <div class="form-group col-md-2">
              <label for="inputPassword4">CVC</label>
              <input type="number" class="form-control" name="cvc" id="inputPassword4" placeholder="cvc">
            </div>

          </div>

        </div>
     

        <div class="mb-3">
           
        <p class="text-danger text-start">You will be charged ${{data.price}}</p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Buy</button>
      </div>

    </form>
    </div>

  </div>

  </div>
</div>

        <!-- modal end -->



        <div class="box">
          <div class="detail-box">
            <h2>$ <span>{{data.price}}</span></h2>
            <h6>
              {{data.type.category}}
            </h6>
            
            <ul class="price_features">
         
              {% for option in data.options.all %}
                
              <li>{{option}}</li>
              
              {% endfor %}

            </ul>
          
          
          </div>
          <div class="btn-box">
            <a type="button" data-toggle="modal" data-target="#modal-{{data.id}}">
              Buy Now
            </a>
          </div>
        </div>

       {% endfor %}

      </div>
    </div>
  </section>

  <!-- price section -->

  <!-- client section -->
  <section class="client_section ">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Testimonial
        </h2>
        <p>
          Even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
        </p>
      </div>
    </div>
    <div class="container px-0">
      <div id="customCarousel2" class="carousel  slide" data-ride="carousel">
        <div class="carousel-inner">
          <!-- yorumlar gelecek -->
          <div id="comment-section">



          </div>
      
          <!-- yorum alanı biter -->
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#customCarousel2" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#customCarousel2" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end client section -->

  <!-- contact section -->
  <section class="contact_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Get In Touch
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" placeholder="Your Name" />
              </div>
              <div>
                <input type="email" placeholder="Your Email" />
              </div>
              <div>
                <input type="text" placeholder="Your Phone" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="btn_box ">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->



  <script>
    // comment section
    const makeAPIRequest = async function() {

      try {
      const loader = document.createElement('p') // <p></p>
      loader.innerText = "Yorumlar yükleniyor..."
      loader.classList.add('loader')
      loader.classList.add('text-center')
      const div = document.getElementById('comment-section')

      // p etiketini dive at
      div.appendChild(loader)
      // active classı ekle
      loader.classList.add('active')
      const request = await fetch('https://randomuser.me/api/?results=10')
      const data = await request.json()
      // html ağacından sil
      loader.remove()

      console.log("gelen veri:", data)

      let status = ""

     

      data.results.map(function(user, index) {
      
      if(index == 0) {

        status = "active"
      } else {

        status = ""
      }

      return div.innerHTML += `
      <div class="carousel-item ${status}">
            <div class="container">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="box">
                    <div class="img-box">
                      <img src="${user.picture.large}" alt="${user.name.first}">
                    </div>
                    <div class="detail-box">
                      <div class="client_info">
                        <div class="client_name">
                          <h5>
                            ${user.name.first}
                          </h5>
                          <h6>
                            Customer
                          </h6>
                        </div>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum
                        dolore eu fugia
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div> 
      `

      })


      } catch (error) {
        
        console.error("API isteğinde bir hata meydana geldi:", error)
      }

    }

    // fonksiyonu sayfa açıldığında çağır
    window.onload = function() {

      makeAPIRequest()

    }


  </script>


{% endblock site-icerik %}